---
import Layout from '../layouts/Layout.astro'
---


<Layout title=" Eurorack" description="mejorando la comunicación visual y el éxito de nuestros clientes">
<div class="py-36 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="/Nuestros servicios.png" alt="image" loading="lazy" width="" height="">
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Sobre Nosotros</h2>
            <p class="mt-6 text-gray-600">En Eurorack, nos dedicamos a proporcionar soluciones de cartelería digital de vanguardia que transforman la comunicación visual de nuestros clientes. Con una pasión por la innovación y un compromiso constante con la excelencia, nos mantenemos siempre actualizados en lo último en tecnología de pantallas LED.

                Nuestra misión es asegurar que tu mensaje llegue de manera efectiva a tu audiencia, creando experiencias visuales impactantes y memorables. Desde pequeños negocios hasta grandes corporaciones, ofrecemos productos y servicios personalizados para satisfacer las necesidades específicas de cada cliente.</p>
            <p class="mt-4 text-gray-600"> Con un equipo de profesionales altamente capacitados y una gama de productos de alta calidad, nos esforzamos por superar las expectativas y brindar un servicio excepcional en cada proyecto. Confía en nosotros para llevar tu comunicación visual al siguiente nivel con nuestras soluciones de cartelería digital. ¡Haz que tu mensaje brille con Eurorack!</p>
          </div>
        </div>
    </div>
  </div>
</Layout>