<section class="bg-blue-700">
    <div class="bg-gray-100 py-10">
        <div class="overflow-hidden whitespace-nowrap">
          <div class="inline-block animate-scroll">
            <img src="/BANCO CONTINENTAL.jfif" alt="Logo 1" class="inline-block mx-8 h-20">
            <img src="/CENTRUM PUCP LOGO.png" alt="Logo 2" class="inline-block mx-8 h-20">
            <img src="/GMO LOGO.png" alt="Logo 3" class="inline-block mx-8 h-20">
            <img src="/INTERBANK LOGO.png" alt="Logo 4" class="inline-block mx-8 h-20">
            <img src="/LOGO ALICORP.png" alt="Logo 5" class="inline-block mx-8 h-20">
            <img src="/LOGO BANCO CONTINENTAL.jpg" alt="Logo 6" class="inline-block mx-8 h-20">
            <img src="/LOGO BANCO DE LA NACION.png" alt="Logo 7" class="inline-block mx-8 h-20">
            <img src="/LOGO CENCOSUD.png" alt="Logo 8" class="inline-block mx-8 h-20">
            <img src="/LOGO DOMINION.jpg" alt="Logo 9" class="inline-block mx-8 h-20">
            <img src="/LOGO HONDA.png" alt="Logo 10" class="inline-block mx-8 h-20">
            <img src="/LOGO LUZ DEL SUR.png" alt="Logo 11" class="inline-block mx-8 h-20">
            <img src="/LOGO MALL DEL SUR.png" alt="Logo 12" class="inline-block mx-8 h-20">
            <img src="/LOGO MOVISTAR.png" alt="Logo 13" class="inline-block mx-8 h-20">
            <img src="/LOGO ONCOSALUD.png" alt="Logo 14" class="inline-block mx-8 h-20">
            <img src="/LOGO PLAZA NORTE.jpg" alt="Logo 15" class="inline-block mx-8 h-20">
            <img src="/LOGO SAN SILVESTRE.jpg" alt="Logo 16" class="inline-block mx-8 h-20">
            <img src="/LOGO SONDA.jpg" alt="Logo 17" class="inline-block mx-8 h-20">
            <img src="/LOGO TELEFONOCA.png" alt="Logo 18" class="inline-block mx-8 h-20">
            <img src="/LOGO U DE LIMA.png" alt="Logo 14" class="inline-block mx-8 h-20">
            <img src="/LOGO VISION CENTER.png" alt="Logo 15" class="inline-block mx-8 h-20">
            <img src="/LOGO WILLAX.png" alt="Logo 16" class="inline-block mx-8 h-20">
            <img src="/MAPFRE LOGO.jpg" alt="Logo 17" class="inline-block mx-8 h-20">
            <img src="/OLTURSA LOGO.png" alt="Logo 18" class="inline-block mx-8 h-20">
          </div>
        </div>
      </div>
      
      <style>
        @keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

      </style>
</section>