<section class="bg-blue-700">
    <div class=" px-3 py-14 mx-auto lg:px-16">
       <h2 class="text-center font-bold text-black mb-4">Nuestros clientes</h2>
        <div class="mx-auto text-center">
            <div class="grid grid-cols-5 gap-4 mx-auto lg:grid-cols-5">
                <div>
                    <img class="h-4 mx-auto lg:h-12" src="/images.png" alt="Figma">
                </div>
                <div>
                    <img class="h-4 mx-auto lg:h-12" src="/images.png" alt="Framer">
                </div>
                <div>
                    <img class="h-4 mx-auto lg:h-12" src="/images.png" alt="Sketch ">
                </div>
                <div>
                    <img class="h-4 mx-auto lg:h-12" src="/images.png" alt="Sketch ">
                </div>
                <div>
                    <img class="h-4 mx-auto lg:h-12" src="/images.png" alt="Invision">
                </div>
            </div>
        </div>
    </div>
</section>