<!-- component -->
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img
    src="/PORTADA EURORACK.jpg"
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center"
  />

  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true"
  >
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        ¡Transforma Tu Espacio Hoy Mismo!
      </h2>
      <p class="mt-6 text-lg leading-8 text-white">
        No esperes más para transformar tu espacio con nuestras pantallas LED de
        alta calidad. Ponte en contacto con nosotros ahora para una consulta
        gratuita y descubre cómo podemos llevar tu experiencia visual al
        siguiente nivel.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <!-- <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
          <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
        </div>-->
      <button
        type="button"
        class="inline-block hover:bg-gray-950 hover:text-black rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
      >
      <a href="/servicio"> Consultanos</a>
      </button>
      <dl
        class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Calidad de servicio</dt>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">
            Rapaidez, efectividad y confianza.
          </dt>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">
            Creatividad y flexibilidad
          </dt>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Soporte 24/7</dt>
        </div>
      </dl>
    </div>
  </div>
</div>
