---
import { FaMapMarkerAlt } from 'react-icons/fa';
---

<section id="location" class="bg-gray-100 py-16">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-semibold text-gray-800">Nuestra Ubicación</h2>
      <p class="text-gray-600 mt-4">
        Encuéntranos en el mapa y ven a visitarnos en nuestra ubicación física.
      </p>
    </div>

    <div class="flex flex-col md:flex-row items-center md:space-x-8">
      <!-- Mapa de Google -->
      <div class="w-full md:w-3/4 h-80 mb-8 md:mb-0">
        <iframe
          class="w-full h-full rounded-lg shadow-lg"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345097373!2d144.9537353154078!3d-37.81720974202174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577d0f9f57a01e1!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1611039088977!5m2!1sen!2sau"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>

      <!-- Información de contacto -->
      <div class="w-full md:w-1/2 text-center md:text-left">
        <h3 class="text-2xl font-semibold text-gray-800 flex items-center justify-center md:justify-start">
          <FaMapMarkerAlt class="mr-2 text-red-500" /> Dirección
        </h3>
        <p class="text-gray-600 mt-4">
          Av velasco astete 1640 Surco, Lima Peru
        </p>
        <p class="text-gray-600 mt-2">
          <i class="fa-solid fa-phone mx-auto [&>svg]:h-5 [&>svg]:w-5"> +51 998 386 109 <br>
            +51 943 698 139</i>
        </p>
        <p class="text-gray-600 mt-2">
          <span class="mx-auto [&>svg]:h-5 [&>svg]:w-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
          </span>
          administracion@eurorack.com.pe <br>
          miguelriojas@eurorack.com.pe
        </p>
      </div>
    </div>
  </div>
</section>
