<!-- component -->
<link
  rel="stylesheet"
  href="https://cdn.tailgrids.com/tailgrids-fallback.css"
/>

<!-- ====== Cards Section Start -->

<section class="bg-[#50c2e1]">
  <h1
    class="title-font text-white py-8 text-3xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-5xl text-center"
  >
    Nuestros servicios
  </h1>
  <div class="container">
    <div
      class="block rounded-lg bg-blue-500 shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface"
    >
      <div class="relative overflow-hidden bg-cover bg-no-repeat">
        <img class="rounded-t-lg h-auto max-w-xl" src="/card.png" alt="" />
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl text-white font-medium leading-tight">
          Carteleria digital
        </h5>
        <p class="mb-4 text-base text-white">
          Diseño e Implementación de la Estrategia Nuestro equipo experto en
          cartelería digital se encarga de diseñar e implementar estrategias
          personalizadas para maximizar el impacto de tu contenido visual. Desde
          la conceptualización hasta la ejecución, trabajamos contigo para
          asegurar que tu mensaje llegue de manera efectiva a tu audiencia.
        </p>
        <a
          href="/servicio"
          class="inline-block
    py-2
    px-7
    border border-[#E5E7EB]
    rounded-full
    text-white
    text-base text-body-color
    font-medium
    hover:border-primary hover:bg-primary hover:text-white
    transition"
        >
          Leer más
        </a>
      </div>
    </div>
  </div>
</section>
<section class=" lg:pt-[30px] pb-10 lg:pb-20 bg-[#50c2e1]">
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/2 xl:w-1/3 px-4 pt-5">
        <div class="bg-white h-full rounded-lg overflow-hidden my-10">
          <img src="/help.jpeg" alt="image" class="w-full" />
          <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
            <h3>
              <a
                href="/servicio"
                class="font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary"
              >
                Diseño y Creación de Contenido
              </a>
            </h3>
            <p class="text-base text-body-color leading-relaxed mb-7">
              Creamos contenido visualmente atractivo y relevante para tus
              necesidades específicas. Ya sea para promocionar productos,
              informar a tus clientes o entretener a tu audiencia, nuestro
              equipo de diseñadores se encarga de desarrollar gráficos y videos
              que capturan la atención y comunican tu mensaje de manera clara y
              memorable.
            </p>
            <a
              href="/servicio"
              class="inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     hover:border-primary hover:bg-primary hover:text-white
                     transition"
            >
              Leer más
            </a>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 xl:w-1/3 px-4 pt-5">
        <div class="bg-white h-full rounded-lg overflow-hidden my-10">
          <img src="/contenido.jpeg" alt="image" class="w-full" />
          <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
            <h3>
              <a
                href="/servicio"
                class="font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary"
              >
                Administración de Contenido
              </a>
            </h3>
            <p class="text-base text-body-color leading-relaxed mb-7">
              Nos encargamos de la gestión completa de tu contenido digital.
              Esto incluye la actualización regular de tu cartelería, asegurando
              que siempre muestres información actualizada y pertinente. Nuestro
              sistema de administración es eficiente y confiable, permitiéndote
              enfocarte en tu negocio mientras nosotros nos ocupamos de mantener
              tu cartelería al día.
            </p>
            <a
              href="/servicio"
              class="inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     hover:border-primary hover:bg-primary hover:text-white
                     transition"
            >
              Leer más
            </a>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 xl:w-1/3 px-4 pt-5">
        <div class="bg-white h-full rounded-lg overflow-hidden my-10">
          <img
            src="https://cdn.tailgrids.com/1.0/assets/images/cards/card-01/image-03.jpg"
            alt="image"
            class="w-full"
          />
          <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
            <h3>
              <a
                href="/servicio"
                class="font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary"
              >
                Diseño de extructuras metalicas
              </a>
            </h3>
            <p class="text-base text-body-color leading-relaxed mb-7">
              Nos encargamos de la gestión completa de tu contenido digital.
              Esto incluye la actualización regular de tu cartelería, asegurando
              que siempre muestres información actualizada y pertinente. Nuestro
              sistema de administración es eficiente y confiable, permitiéndote
              enfocarte en tu negocio mientras nosotros nos ocupamos de mantener
              tu cartelería al día.
            </p>
            <a
              href="/servicio"
              class="inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     hover:border-primary hover:bg-primary hover:text-white
                     transition"
            >
              Leer más
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Cards Section End -->
