
<section class="bg-white">
    <div class="container">
<div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
    <h3 class=" text-3xl font-bold pt-6">Testimonio</h3>
  </div>
  
  <div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12 mt-20">
    <div class="mb-12 md:mb-0">
      <div class="mb-6 flex justify-center">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(1).jpg"
          class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
      </div>
      <h5 class="mb-4 text-xl font-semibold">Juan Carlos Negrete Tafur </h5>
      <h6 class="mb-4 font-semibold text-primary dark:text-primary-400">
        Jefe de Operaciones - Telefónica On The Spot Perú
      </h6>
      <p class="mb-8 text-neutral-600 dark:text-neutral-300">
        <span class="inline-block pe-2 [&>svg]:w-5"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
          </svg>
        </span>
        Contamos con Eurorack desde hace mucho tiempo y lo seguimos haciendo debido a la buena calidad del servicio brindado. Seguimos trabajando juntos aportando mutuamente al desarrollo cómo equipo organizacional y de trabajo en la integración de diversos proyectos. Poseen amplio conocimiento y experiencia, agregando valor con el compromiso mostrado en cada tarea asignada.
      </p>
      
    </div>
    <div class="mb-12 md:mb-0">
      <div class="mb-6 flex justify-center">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(2).jpg"
          class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
      </div>
      <h5 class="mb-4 text-xl font-semibold">Joaquín Hume Marquina  </h5>
      <h6 class="mb-4 font-semibold text-primary dark:text-primary-400">
        Productor Ejecutivo - Willax Televisión
      </h6>
      <p class="mb-8 text-neutral-600 dark:text-neutral-300">
        <span class="inline-block pe-2 [&>svg]:w-5"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
          </svg>
        </span>
        an contribuido con soluciones personalizadas de acuerdo a nuestras necesidades, buscando siempre priorizar la optimización de costos y agilización de procesos. Su creatividad a la hora de elaborar sus productos nos ha simplificado la forma cómo trabajamos, contribuyendo también con la comodidad de nuestro personal.
      </p>
      
    </div>
    <div class="mb-0">
      <div class="mb-6 flex justify-center">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(9).jpg"
          class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
      </div>
      <h5 class="mb-4 text-xl font-semibold">Jose Cossio Brazzan</h5>
      <h6 class="mb-4 font-semibold text-primary dark:text-primary-400">
        División  Gerencia de Ventas - Mundimedia S.A.C
      </h6>
      <p class="mb-8 text-neutral-600 dark:text-neutral-300">
        <span class="inline-block pe-2 [&>svg]:w-5"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
          </svg>
        </span>
        Como te enteraste de Eurorack?
        Me recomendaron unos amigos de la empresa Telvicom
        Que te parecieron nuestros servicios?
        Muy bueno el servicio y los productos.
        Cuéntanos tu experiencia con nosotros?
        Muy buena. Miguel Riojas nos atiende muy bien.
        Como ha ayudado Eurorack a tu empresa?
        Sus productos se complementan con los nuestros y l acogida del conjunto fue muy buena.
      </p>
     
    </div>
  </div>
</div>
</section>